<article class="aside-card">
  <p class="title">{{boxTitle}}</p>
  <hr>
  <div [routerLink]="['content', Id]" class="card-info flex">
    <h3>{{ miniCardTitle1 }}</h3>
    <img src="{{ miniCardPhoto1 }}" alt="">
  </div>

  <div [routerLink]="['content', Id]" class="card-info flex">
    <h3>{{ miniCardTitle2 }}</h3>
    <img src="{{ miniCardPhoto2 }}" alt="">
  </div>

  <div [routerLink]="['content', Id]" class="card-info flex">
    <h3>{{ miniCardTitle3 }}</h3>
    <img src="{{ miniCardPhoto3 }}" alt="">
  </div>

  <h3 class="subtitle">{{ subTitle }}</h3>
</article>
