<section>
  <div class="flex">
    <h2>GloboNews: últimos vídeos...</h2>
    <div class="arrows flex">
      <p (click)="carouselSlider()" [ngClass]="carouselSlide?'enable':'disable'" class="arrow">&#x276E;</p>
      <p (click)="carouselSlider()" [ngClass]="carouselSlide?'disable':'enable'" class="arrow">&#x276F;</p>
    </div>
  </div>

  <div class="flex card-area" id="card-area" [ngClass]="carouselSlide?'previous':'next'">
    <app-card Id="4" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=1"
      cardTime="9 min"
      cardTitle="França proíbe vestimenta islâmica em escolas"
    ></app-card>

    <app-card Id="2" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=2"
      cardTime="53 seg"
      cardTitle="Explosão em estação de gás de cozinha deixa mortos e feridos na Romênia"
    ></app-card>

    <app-card Id="4" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=3"
      cardTime="1 min"
      cardTitle="Mulheres à frente de produções artísticas"
    ></app-card>

    <app-card Id="3" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=6"
      cardTime="10 min"
      cardTitle="Ex-ministro do Meio Ambiente Ricardo Salles se torna réu por extração ilegal de madeira"
    ></app-card>

    <app-card Id="1" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=7"
      cardTime="12 min"
      cardTitle="Caso das joias: PF vê 'riqueza de detalhes' em perícia de celulares de Wassef e Cid"
    ></app-card>

    <app-card Id="4" [routerLink]="['content', $id]"
      photoCover="https://picsum.photos/250/150?random=8"
      cardTime="2 min"
      cardTitle="Câmara vota desoneração da folha de pagamento nesta terça (29)"
    ></app-card>

  </div>
</section>

