<footer class="bg-full">
  <div class="container">
    <p><span>g1 </span>Últimas notícias</p>

    <div class="flex">
      <p>© Copyright 2000-2023 Globo Comunicação e Participações S.A.</p>
      <div class="links">
        <ul class="flex">
          <li [routerLink]="['content', id]">princípios editoriais</li>
          <li [routerLink]="['content', id]">política de privacidade</li>
          <li [routerLink]="['content', id]">minha conta</li>
          <li [routerLink]="['content', id]">anuncie conosco</li>
        </ul>
      </div>
    </div>

  </div>
</footer>
