<article class="container">
  <h1>{{contentTitle}}</h1>

  <p class="subtitle">{{contentSubtitle}}</p>

  <div class="info flex">
    <div class="left">
      <p class="author">{{contentAuthor}}</p>
      <p>07/03/2022 15h56</p>
    </div>
    <div class="right icons">
      <img src="https://api.iconify.design/logos/facebook.svg" alt="">
      <img src="https://api.iconify.design/logos/whatsapp-icon.svg" alt="">
      <img src="https://api.iconify.design/material-symbols/share.svg" alt="">
    </div>
  </div>
  <hr>

  <img class="photoCover" src="{{photoCover}}" alt="">

  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>
  <p class="description">{{contentDescription}}</p>

  <hr>
  <app-publi></app-publi>
</article>
