<app-banner id="2"></app-banner>

<div class="articles container container-inside">
  <div class="articles__main">
    <app-card-carousel></app-card-carousel>

    <app-publi></app-publi>

    <app-big-card id="1"
    photoCover="https://picsum.photos/378?random=1"
    cardTitle="Veja tudo que rolou no festival"
    cardDescription="Converse com outras ideias"
    cardDate="Há 2 horas"
    cardTag="Em GloboNews em Ponto "
    ></app-big-card>

    <app-big-card id="2"
      photoCover="https://picsum.photos/378?random=2"
      cardTitle="Deputado estadual de Goiás é alvo de buscas da PF"
      cardDescription=""
      cardDate="Há 10 horas"
      cardTag="Em Jornal das Dez"
    ></app-big-card>

    <app-big-card id="3"
      photoCover="https://picsum.photos/378?random=3"
      cardTitle="Entenda taxação da alta renda"
      cardDescription=""
      cardDate="Há 2 meses"
      cardTag="Em GloboNews em Ponto "
    ></app-big-card>

    <app-big-card id="4"
      photoCover="https://picsum.photos/378?random=4"
      cardTitle="Rendimento do trabalho cresce de forma desigual, aponta estudo"
      cardDescription="Converse com outras ideias"
      cardDate="Há 4 meses"
      cardTag="Em Jornal das Dez"
    ></app-big-card>

    <app-publi></app-publi>

  </div>
  <div class="articles__aside">
    <app-card-emphasis id="1"
      cardTitle="Como assistir à GloboNews; veja passo a passo"
      photoCover="https://picsum.photos/378/213?random=1"
    ></app-card-emphasis>

    <app-card-social-media  id="2"
      boxTitle="Redes sociais"
      subTitle="Mais Redes Sociais"
      miniCardTitle1="Curta a nossa página"
      miniCardPhoto1="https://picsum.photos/378/213?random=2"
      miniCardTitle2="Acompanhe no @globonews"
      miniCardPhoto2="https://picsum.photos/378/213?random=3"
      miniCardTitle3="Siga a gente"
      miniCardPhoto3="https://picsum.photos/378/213?random=4"
    ></app-card-social-media>

    <app-card-journals  id="3"
      boxTitle="Jornais"
      subTitle="Mais Redes Sociais"
      miniCardTitle1="Em Ponto"
      miniCardPhoto1="https://picsum.photos/378/213?random=8"
      miniCardTitle2="Conexão"
      miniCardPhoto2="https://picsum.photos/378/213?random=9"
      miniCardTitle3="Estúdio i"
      miniCardPhoto3="https://picsum.photos/378/213?random=10"
      miniCardTitle4="GloboNews Mais"
      miniCardPhoto4="https://picsum.photos/378/213?random=11"
      miniCardTitle5="Edição das 18h"
      miniCardPhoto5="https://picsum.photos/378/213?random=12"
      miniCardTitle6="Em Pauta"
      miniCardPhoto6="https://picsum.photos/378/213?random=13"
      miniCardTitle7="J10"
      miniCardPhoto7="https://picsum.photos/378/213?random=14"
    ></app-card-journals>
  </div>
</div>
