<article  class="aside-card">
  <p class="title">{{ boxTitle }}</p>
  <hr>
  <div class="grid">
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto1 }}" alt="">
      <h3>{{ miniCardTitle1 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto2 }}" alt="">
      <h3>{{ miniCardTitle2 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto3 }}" alt="">
      <h3>{{ miniCardTitle3 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto4 }}" alt="">
      <h3>{{ miniCardTitle4 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto5 }}" alt="">
      <h3>{{ miniCardTitle5 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto6 }}" alt="">
      <h3>{{ miniCardTitle6 }}</h3>
    </div>
    <div [routerLink]="['content', $id]" class="card-grid">
      <img src="{{miniCardPhoto7 }}" alt="">
      <h3>{{ miniCardTitle7 }}</h3>
    </div>
  </div>

</article>
