@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  nav,
  .menu,
  .search-bar,
  .left > p::before {
    display: none;
  }

  .right {
    position: relative;
    height: 35px;
  }

  .container {
    padding: 5px 10px;
  }

  .menu-sandwich {
    margin-right: 8px;
  }

  .right::before {
    content: "";
    background: url("https://api.iconify.design/ic/outline-search.svg?color=white")
      center / contain no-repeat;
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: 25px;
  }
}
