
<article class="container">
  <h1>{{contentTitle}}</h1>

  <p class="subtitle">{{contentSubtitle}}</p>

  <div class="info flex">
    <div class="left">
      <p class="author">{{contentAuthor}}</p>
      <p>07/03/2022 15h56</p>
    </div>
    <div class="right icons">
      <img src="https://api.iconify.design/logos/facebook.svg" alt="">
      <img src="https://api.iconify.design/logos/whatsapp-icon.svg" alt="">
      <img src="https://api.iconify.design/material-symbols/share.svg" alt="">
    </div>
  </div>
  <hr>

  <img class="photoCover" src="{{photoCover}}" alt="">

  <p class="description">A semana será marcada por variações de temperatura em boa parte do Brasil. Na última segunda-feira (28), diversas cidades do Rio Grande do Sul registraram mínimas negativas. Já no Sudeste, São Paulo e Rio de Janeiro registram máximas abaixo de 20ºC.</p>
  <p class="description">A tendência, porém, é de que esse frio todo que vem atingindo o Centro-Sul vá diminuindo ao longo dos próximos dias, especialmente no Sudeste e Centro-Oeste.</p>
  <p class="description">No final de semana, à medida que essa frente fria perde força, os termômetros devem voltar a registrar máximas perto dos 30°C ou até mesmo ultrapassar essa marca no Sudeste. Já nas regiões Centro-Oeste, Norte e Nordeste esses valores podem alcançar até 38°C.</p>
  <p class="description">No Sul, nas áreas mais altas do Rio Grande do Sul, o frio permanecerá e pode ocorrer novamente geada em regiões mais baixas até pelo menos a próxima quarta-feira (30). Na quinta (31), as temperaturas mínimas começam a subir levemente. Em Porto Alegre, as máximas, porém, não ultrapassarão os 26ºC ou 27ºC ao longo desta semana.</p>
  <p class="description">Apesar disso, no sábado (02), uma nova frente fria chegará à região, intensificando áreas de instabilidade e fazendo os termômetros cair.</p>
  <p class="description quote">"Além de queda de temperatura, essa frente fria pode trazer temporais para a região", alerta Giovani Dolif, meteorologista do Cemaden.</p>
  <p class="description">No Sul, a previsão é de tempo seco e sem chuvas no início desta semana. No entanto, a partir do sábado (02/09), uma nova frente fria chegará à região, intensificando áreas de instabilidade. Há risco de temporais.</p>
  <p class="description">No noroeste do Rio Grande do Sul e no oeste e sul de Santa Catarina, a chuva pode ser forte, com acumulados que podem ultrapassar 50 mm. Já no norte do Paraná, o tempo continuará seco e sem chuvas em grande parte da semana.</p>
  <p class="description">{{contentDescription}}</p>

  <hr>
  <app-publi></app-publi>
</article>
