@media (max-width: 770px) {
  .aside-card {
    width: 90vw;
    min-width: 247px;
    margin: 15px auto;
    padding: 25px;
  }

  .container,
  .container-inside {
    padding: 0;
    margin: 0;
  }
}
